* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(./decor\ 4.jpeg);
  background-size: 300%;
  font-family: 'Alkalami', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Poppins', sans-serif;
text-align: center;

}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;

  justify-content:center;
}
[class^="col"]{
  padding: 0 10px;
}
.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;

  
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(169, 100, 234);
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;

}
.col-5 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(228, 195, 145);
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color:rgb(47, 255, 238) ;
}
.col-2 {
  flex-basis: 8.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.container-2 {
  max-width: 700px;
  background-color: rgb(198, 47, 185);
}
.row-2 {
  display: flex;

  justify-content: center ;
  flex-direction: column
}
.col-2-2 {
  flex: 100% 0 0;
}
example-1{
  background-color: aqua;
}
.card{
  margin-top: 10px;
  box-shadow: 3px 3px 10px black;
  background-color: rgba(255, 255, 0, 0.473);
}
.card .card-image{
  width: 100%;
}
.card .card-content{
  padding: 10px 35px;
}
.card.card-horizonal{
  display: flex;
}
.card.card-horizonal .card-image{
  width:20%
}

.card {
  background-color: white;
  border: 1px dashed rgb(13, 24, 181);
  border-radius: 8px;
  box-shadow: 10px 5px 10px 0 rgba(198, 29, 178, 0.603);
  transform:matrix(5%);
  transition: all;
  transition-duration: 8ms;

  margin-bottom: 15px;
}
.card:hover {
  transform: scale(1.05);
}
.card .card-image {
  width: 100%;
  border-radius: 8px;
}
.card .card-content {
  padding: 5px 15px;
}
.card.card-horizonal {
  display: flex;
}
.card.card-horizonal .card-image {
  width: 50%;
}